.category {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template: auto/repeat(auto-fit, minmax(250px, 1fr));
  margin-top: -7rem;
}
.category_image {
  position: relative;
}
.category_text {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  transition: all 0.5s ease-in-out;
}
.single_category {
  width: 100%;
  height: 400px;
  position: relative;
}
.single_category:hover .category_text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.wrapper {
  width: 0;
  transition: all 0.5s ease-in-out;
}
.single_category:hover .wrapper {
  position: absolute;
  background-color: var(--shadow-color);
  width: 100%;
  height: 100%;
  z-index: 3;
}
